body {
	font-family: "Helvetica Neue", "Arial", "sans-serif";
	font-size: 14px;
	line-height: 1.6em;
	text-transform: none;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
	background-size: auto;
	background-attachment: scroll;
	background-repeat: repeat;
	background-color: #f2f2f2;
	color: #777777;
	margin: 0;
	display: block;
	-webkit-font-smoothing: subpixel-antialiased !important;
}

div {
	display: block;
}

section {
	display: block;
}

nav ul, nav ol  {
	margin: 0;
	list-style: none;
	list-style-image: none;
	padding: 0;
}

ul, ol, dl {
	font-family: "Helvetica Neue", "Arial", "sans-serif";
	font-size: 14px;
	line-height: 1.6em;
	text-transform: none;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
}

ul {
	display: block;
	list-style-type: disc;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
}

li {
	display: list-item;
	text-align: -webkit-match-parent;
}

h1 {
	font-family: "Helvetica Neue", "Arial", "sans-serif";
	font-size: 24px;
	line-height: 1.3em;
	text-transform: none;
	text-decoration: none;
	letter-spacing: 1px;
	font-weight: normal;
	font-style: normal;
	display: block;
	font-size: 2em;
	-webkit-margin-before: 0.67em;
	-webkit-margin-after: 0.67em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;
	text-rendering: optimizeLegibility;
}

h1 a {
	text-decoration: none;
	color: #999999;
}

#canvas {
	width: auto;
	max-width: 1140px;
	margin: 0 auto;
	padding: 60px;
	box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
	position: relative;
	box-sizing: border-box;
	background-color: #ffffff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

#header {
	margin-bottom: 10px;
	display: block;
	clear: both;
	height: 60px;
}

#logo {
	float: left;
	margin-top: -30px;
}

#topNav {
	width: auto;
	float: right;
	z-index: 101;
}

#topNav ul li a:hover {
	color: black;
	border-style: solid;
	border-color: #cdcdcd;
	border-width: 0 0 1px;
}

#topNav ul li a.pressed {
	color: black;
	border-style: solid;
	border-color: #cdcdcd;
	border-width: 0 0 1px;
}

#topNav nav li, #bottomNav nav li {
	float: left;
	position: relative;
	text-align: left;
	width: auto;
}

#topNav nav li a, #bottomNav nav li a {
	display: inline;
	padding: 7.5px 15px;
}

#topNav a, #bottomNav a {
	font-family: "Helvetica Neue", "Arial", "sans-serif";
	font-size: 14px;
	line-height: 1.6em;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1px;
	font-weight: normal;
	font-style: normal;
	color: #999999;
}

#bottomNav .secondNav ul li {
	padding-top: 20px;
	float: right;
}

#bottomNav .secondNav ul li a:hover {
	color: black;
}

#page {
	margin: 0px;
	position: relative;
}

.logo {
	line-height: 0;
	margin: 0;
	margin-top: -50 px;
	display: inline-block;
	/* height: 100px; */
	width: 100%;
}

.pageDivider {
	margin-left: -60px;
	margin-right: -60px;
	border-width: 0 0 1px;
	border-style: solid;
	border-color: #e4e4e4;
}

.content {
	width: auto !important;
	padding-top: 20px;
	padding-bottom: 20px;
	clear: both;
	overflow: auto;
}

.profile {
	float: left;
	margin: 0px;
	margin-right: 20px;
	margin-left: 5px;
	height: 197px;
	padding-left: 1px;
	background-color: rgba(34,34,34,0.6);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99222222, endColorstr=#99222222);
    /* For IE 8*/
    -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99222222, endColorstr=#99222222);
    z-index:10;
	-moz-box-shadow:0px 0px 7px #000000;
	-webkit-box-shadow:0px 0px 7px #000000;
	box-shadow:0px 0px 7px #000000;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px; 
}

.content p {
	text-indent: 1.5em;
}

.content h2 {
	padding-bottom: 0;
	margin-bottom: 0;
	text-align: center;
	width: 100%;
}

#divider{
	height: 150px;
	width: 100%;
}

.heading2{
	padding-top: 60px;
}

.paraLeft{
	float: left;
	padding: 10px 10px 10px 10px;
	height: auto;
	width: 45%; 
	border-radius: 4px;
	border: 1px solid #e4e4e4;
	margin-left: 20px;
}

.paraSpacer {
	float: left;
	width: 10px;
	height: 150px;
	margin: 0;
	padding: 0;
}

.content p a {
	text-decoration: none;
	color: black;
}

.linkedin-hover {
	background-image: url('../images/linkedin-hover.png');
	height: 48px;
	width: 48px;
	margin: 6px;
	float: left;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	transition: all ease 0.3s;
}

.facebook-hover {
	background-image: url('../images/facebook-hover.png');
	height: 48px;
	width: 48px;
	margin: 6px;
	float: left;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	transition: all ease 0.3s;
}

.social-slide:hover {
	background-position: 0px -48px;
	box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.8);
}

.invisibleLink {
	height: 48px;
	width: 48px;
	display: block;
}

.center {
	text-align: center;
}